<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a style="color:white;margin-left:45%;">View Product Details</a>
    <button routerLink="/" class="btn btn-success">Back</button>
  </div>
</nav>

<div class="container-fluid">
  <table class="table mt-4 table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Product image</th>
        <th scope="col">Product id</th>
        <th scope="col">Product name</th>
        <th scope="col">Product price</th>
        <th scope="col">Product category</th>
        <th scope="col">Product description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products ">
        <td><img style="width: 156px; height:95px;" src="{{product.producturl}}"></td>
        <td>{{product.id ? product.id : 0}}</td>
        <td>{{product.productname}}</td>
        <td>{{product.productprice}}</td>
        <td>{{product.productcategory}}</td>
        <td>{{product.productdescription}}</td>
        <td><i routerLink="/update-product/{{product.id}}" class="fa fa-edit"></i>&nbsp;
          <i (click)="deleteProduct(product.id ? product.id :0)" class="fa fa-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>